* {
  box-sizing: border-box;
}

:root {
  --main-font: 'Poppins', sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  transform-origin: 0 0;
}

.darkWrap {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#darkWrapOff {
  display: none;
}

/*NEW BOOK CARD --- */

.createNew-window {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 25%, 800px);
padding-bottom: 4%;
  position: absolute;
  background-color: white;
 text-align: center;
 align-items: center;
  left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 top: 50%;
 transform: translateY(-50%);
 border-radius: 2%;
 box-shadow: 0px 1px 7px rgb(102, 102, 102);
 z-index: 3;
 animation: fade-in 300ms forwards;

}

#createNew-closed {
  display: none;
}

.createNew-window > h1 {
  font-family: var(--main-font);
font-size: clamp(15px, 1.8vw, 40px);
}

.createNew-window > input {
  background-color: #f4f4f4;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-top: 3%;
  font-size: clamp(12px, 1.2vw, 40px);
border: none;
outline: none;
font-family: var(--main-font);
}

.readStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100%;
}

.readStatus > p {
  font-family: var(--main-font);
  font-size: clamp(12px, 1.2vw, 40px);
  justify-self: center;
}

.submitNew {
  font-family: var(--main-font);
font-size: clamp(12px, 1.2vw, 40px);
width: 80%;
padding-top: 2%;
padding-bottom: 2%;
border: none;
border-radius: .5vw;
margin-top: 3%;
background-color: #7be973;
cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: clamp(40px, 3.8vw, 150px);
  height: clamp(20px, 2vw, 150px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 45%;
  left: 6%;
  bottom: 10.5%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7be973;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7be973;
}

input:checked + .slider:before {
  -webkit-transform: translateX(95%);
  -ms-transform: translateX(95%);
  transform: translateX(95%);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
/*NEW BOOK CARD --- END*/

/*TOP BAR --- */
.topBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
align-items: center;
height: min(155px, 32vw);
box-shadow: 0px 1px 6px rgb(194, 194, 194);
}

.topBar header {
  font-family: var(--main-font);
  font-size: clamp(22px, 2.5vw, 80px);
  margin-left: 2%;
  font-weight: 600;
  letter-spacing: 1%;
  cursor: pointer;
  transition: 500ms;
}

.bookCount {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-right: 8%;
  font-family: var(--main-font);
  font-size: clamp(15px, 1.5vw, 80px);
  font-weight: 500;
  cursor: pointer;
}

.bookCount div {
  display: flex;
  white-space: nowrap;
  transition: 500ms;
}

.bookCount div > p {
  padding-left: 5%;
}
/*TOP BAR --- END*/

/* Main Content --- */
.mainContent {
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2%;
}

.bookCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: var(--main-font);
  box-shadow: 0px 1px 4px rgb(199, 199, 199);
  border-radius: .5vw;
  padding-bottom: 5.5%;
}

.bookCards h1 {
  font-size: clamp(14px, 1.4vw, 40px);
}

.bookCards p {
font-size: clamp(12px, 1.1vw, 40px);
width: 80%;
text-align: center;
padding-top: 2%;
padding-bottom: 1.5%;
}

#bookRead {
  font-size: clamp(12px, 1.1vw, 40px);
width: 80%;
text-align: center;
padding-top: 2.5%;
padding-bottom: 2.5%;
background-color: #78df70;
border-radius: .4vw;
}

#bookNotRead {
  font-size: clamp(12px, 1.1vw, 40px);
width: 80%;
text-align: center;
padding-top: 2.5%;
padding-bottom: 2.5%;
background-color: #ff9c9c;
border-radius: .4vw;
}

#remove {
border: none;
font-size: clamp(12px, 1.1vw, 40px);
width: 80%;
padding-top: 2.5%;
padding-bottom: 2.5%;
border-radius: .4vw;
cursor: pointer;
}

.addNew {
  font-family: var(--main-font);
  font-size: clamp(13px, 1.7vw, 80px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5%;
  padding-bottom: .5%;
  margin-top: 1%;
  width: clamp(200px, 16%, 400px);
  cursor: pointer;
  border-radius: .5vw;
}

.addNew:hover {
  background-color: rgb(218, 218, 218);
}
/* Main Content End--- */


/* Hovers/ Active --- */

header:hover {
  transform: translate(0, -3%);
}

.bookCount div:hover {
  transform: translate(0, -3%);
}

.submitNew:hover {
background-color: #78df70;
}

.submitNew:active {
  transform: scale(.98);
}

#remove:hover { 
background-color: #ff9c9c;
}
/* Hovers/ Active End--- */

/* Media ---- */
@keyframes fade-in {
  0% {
    transform: translateY(-50%) scale(.1);
    
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}


@media (min-width: 2000px) {
  .topBar {
    height: 250px;
  }
}

@media (max-width: 450px) {
  .bookCount {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 8%;
    font-size: clamp(13px, 1.5vw, 80px);
    font-weight: 500;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .booksRead {
    margin-top: -15%;
  }

  .addNew {
    margin-top: 6%;
  }

  .mainContent {
    margin-left: 3%;
    margin-right: 3%;
  }
}
/* Media End---- */